@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
.navi {
  background: #fff;
  height: 80px;
  width: 100%;
}
header {
  /* position: fixed; */
  z-index: 999;
  width: 100%;
}
label.logo {
  color: #f2600c;
  font-size: 35px;
  line-height: 80px;
  font-weight: 600;
  padding: 0 100px;
  cursor: pointer;
}
.navi ul {
  float: right;
  margin-right: 20px;
}
.navi ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navi ul li a {
  color: #f2600c;
  font-size: 17px;
  padding: 7px 17px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
}
a.active,
a:hover {
  transition: 0.5s;
  text-decoration: none;
}
a:hover {
  color: #fda96f;
}

.check-btn {
  color: #f2600c;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  .navi ul li a {
    font-size: 16px;
  }
  .navi ul {
    background: #fff;
    height: 100%;
  }
}
@media (max-width: 858px) {
  .check-btn {
    display: block;
  }
  ul {
    position: fixed;
    height: 70vh;
    width: 100%;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navi ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navi ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #f2600c;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media (min-width: 340px) and (max-width: 575px) {
  label.logo {
    padding: 0 50px;
  }
}

.navi section {
  background: url(./images/bg1.jpg);
  background-size: cover;
  height: calc(100vh - 80px);
}
