@use "common" as *;

body {
  font-family: "Noto Sans KR", sans-serif;
  h1 {
    font-family: "IBM Plex Sans KR", sans-serif;
  }
}

.navbar {
  flex-wrap: nowrap !important;
  padding: 50px 0;

  .navbar__ghost {
    display: none;
    background: transparent;
    border: none;
  }

  .navbar__menu {
    li {
      list-style: none;
      font-size: $font-caption;
      font-weight: $font-weight-bold;
      margin-left: 50px;
    }
    .nav__link {
      text-decoration: none;
      color: $primary-00;

      &:hover {
        border-bottom: 3px solid $primary-01;
      }
    }
  }
}

.section_01 {
  .sec_01_maintitle {
    .main_img {
      width: 100%;
    }
    span {
      font-size: $font-heading-xxl;
    }
    .cta {
      padding-top: $spacing-md;
    }
  }
}

.section_02 {
  background: $primary-04;
  img {
    width: 20%;
    margin-bottom: $spacing-xxs;
  }
  .counter {
    font-size: $font-heading-xl;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-xxs;
  }
  .unit {
    color: $black-00;
    font-size: 14px;
    font-weight: $font-weight-bold;
  }
  .label {
    font-size: $font-body-md;
    font-weight: $font-weight-bold;
  }
}

.section_03 {
  .section__main-title {
    margin-bottom: $spacing-xl;
  }
  //가로선
  .section__items {
    &::before {
      content: "";
      display: block;
      width: 782px;
      height: 2.5px;
      background-color: $primary-02;
      position: relative;
      top: 177px;
    }
  }
  .section__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //비숑이미지
    .section03__icon {
      width: 30px;
      height: 30px;
      background: url("../images/sec03_icon.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 99;
      position: absolute;
      top: 128px;
    }
    .section03__card {
      width: 80%;
      border-radius: 20px;
      margin-top: 166px;
    }
    // 세로선
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 40px;
      background-color: $primary-02;
      position: relative;
      top: -553px;
    }
  }
  .section03__sbutitle {
    font-size: $font-body-lg;
    font-weight: $font-weight-semibold;
    margin-top: $spacing-sm;
  }
}

.section_04 {
  h2 {
    margin-bottom: $spacing-xxs;
  }
  .swiper-slide {
    width: 300px !important;
    border: 1px solid $primary-01;
  }

  .slide_text-box {
    gap: 5px;
    img {
      width: 25px;
      height: 25px;
    }
    .slide_name {
      font-size: $font-body-md;
      font-weight: $font-weight-bold;
    }
  }
}

.section_05 {
  h2 {
    margin-bottom: $spacing-xxs;
  }
}

.section_06 {
  .section06__main-title {
    margin-bottom: $spacing-xl;
  }
  .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ratio-16x9 {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .ratio-4x3 {
    aspect-ratio: 4 / 3;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

.section_07 {
  background: #fee7d7;
  h1 {
    font-size: $font-heading-md;
    font-weight: $font-weight-semibold;
  }
  .form-control {
    border: 1px solid $primary-01;
    background: transparent;
    text-align: center;
    margin-top: 20px;
    height: 55px;
  }
}

@media (max-width: 1199px) {
  .section_03 .section__items::before,
  .section_03 .section__item::after {
    width: 0 !important;
    height: 0 !important;
  }
  .section_03 .section__item .section03__icon {
    display: none;
  }
}
