@use './common' as *;

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}
img{
    width: 100%;
}




// menu list 
.kv-list{
    .main_title{
        font-size: $font-body-md;
        font-weight: $font-weight-bold;
        margin-left:246px;
        color: $primary-00;
    }
}

// kv_title
.sub_main{
    position: relative;

    h2{
        font-size: $font-body-sm;        
        position: absolute;
        top: 150px;
        color: $primary-05;
        left: 50%;
        transform: translateX(20%);
    }
}

.sub_main{
    position: relative;
    .main-text{
        font-size: $font-heading-lg;
        font-weight: $font-weight-bold;
        color: $primary-05;
        position: absolute;
        z-index: 2;
        top:127px;
        left: 25%;
    }
    .main-img{
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.table{
    margin-top: $spacing-xl;
    .table_title{
        background-color: $primary-01;
        color: #fff;
    }
    .table_text{
        th{
            color: $primary-00;
            padding: $spacing-md;
        }
        td{
            vertical-align: middle !important;
        }
    }

}
.pagination{
    padding-bottom: $spacing-xl;
}
.page-link{
        color: $primary-01 !important;
}
