@charset "UTF-8";
/* Spacing (Margin & Padding */
/* black 색상 */
/* Point 색상 */
/* font-weight */
/* font-size */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.7143rem;
  font-weight: 400;
}
h2 {
  margin-bottom: 0;
}
p {
  color: #2e2e2e;
  font-weight: 400;
}
.navbar {
  flex-wrap: nowrap !important;
  padding: 50px 0;
}
.navbar .navbar__left .navbar__logo {
  width: 70%;
}
.navbar .navbar__left .navbar__ghost {
  display: none;
  background: transparent;
  border: none;
}
.navbar .navbar__menu li {
  list-style: none;
  font-weight: 600;
  margin-left: 50px;
}
.navbar .navbar__menu .nav__link {
  text-decoration: none;
  color: #f2600c;
  font-size: 0.9286rem;
}
.navbar .navbar__menu .nav__link:hover {
  border-bottom: 3px solid #fc7e27;
}
/* kv_title */
.kv-top {
  position: relative;
  height: 400px;
  background: url("../images/sub/sub02_main-img.png");
  background-repeat: no-repeat;
  background-position: center;
}
.kv-top .kv-text-title {
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

footer .footer__container {
  padding: 45px !important;
}
footer .footer__container .footer__logo {
  width: 15%;
  margin-bottom: 45px;
}
footer .footer__container .footer__icon {
  margin-bottom: 45px;
  font-size: 1.0714rem;
}
footer .footer__container .footer__text {
  font-size: 0.7143rem;
}

.cta {
  margin-top: 70px;
  gap: 10%;
}
.cta .button {
  padding: 15px 48px;
  background-color: #f2600c;
  font-size: 0.9286rem;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f2600c;
  width: 250px;
}
.cta .button .orange_arrow {
  width: 20%;
}
.cta .button .icon_hover {
  width: 20%;
  display: none;
  margin: 0;
}
.cta .button:hover {
  background-color: transparent;
  color: #f2600c;
  transition: all 0.3s ease;
}
.cta .button:hover img {
  display: none;
}
.cta .button:hover .icon_hover {
  display: block;
}
.cta .button_outline {
  padding: 15px 48px;
  background-color: transparent;
  border: 1px solid #fc7e27;
  color: #fc7e27;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 0.9286rem;
  width: 250px;
}
.cta .button_outline .white_arrow {
  width: 20%;
}
.cta .button_outline .icon_hover {
  width: 10%;
  display: none;
}
.cta .button_outline:hover {
  background-color: #fc7e27;
  color: #ffffff;
  transition: all 0.3s ease;
}
.cta .button_outline:hover img {
  display: none;
}
.cta .button_outline:hover .icon_hover {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
body h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.content01_items {
  padding-bottom: 87px;
}
.content01_items .content01_item .content01_icon {
  width: 30%;
  margin-top: 70px;
}

.content02_items {
  padding-bottom: 87px;
}
.content02_items .content02_item .content02_icon {
  width: 18%;
  margin-top: 70px;
}

.content01_items .content01_title,
.content02_items .content01_title {
  margin-top: 70px;
  color: #fc7e27;
  font-weight: 700;
  font-size: 1.5714rem;
}
/* .content01_items .content01_desc, .content02_items .content01_desc {
  font-size: 1.2857rem;
  margin-top: 15px;
  color: #2E2E2E;
  font-weight: 400;
} */

.sub02_title {
  background-color: #f2600c;
  font-size: 1.5714rem;
  font-weight: 700;
  color: #fff8f4;
  margin-top: 80px;
  padding: 15px 0;
}

footer {
  margin-top: 87px;
} /*# sourceMappingURL=Sub02-get_involved.css.map */

@media (min-width: 340px) and (max-width: 575px) {
  .kv-top {
    height: 100px;
    background: url("../images/sub/sub02_main-img02.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .kv-top .kv-text-title {
    height: 100px;
  }
  .kv-text-title h2 {
    font-size: 0.9286rem;
  }
  .content01_items .content02_items {
    padding-top: 20px;
  }
  .sub02_title {
    margin-top: 50px;
  }
  .sub02_title h2 {
    font-size: 0.9286rem;
  }
  .content01_items .content01_title {
    font-size: 0.9286rem;
    margin-top: 20px;
  }
  .content01_desc {
    font-size: 0.7143rem;
    margin-top: 15px;
    color: #2e2e2e;
    font-weight: 400;
  }
  .content01_items .content01_item .content01_icon {
    width: 20%;
    margin-top: 45px;
  }
  .content02_items .content02_item .content02_icon {
    width: 20%;
    margin-top: 45px;
  }
  .content02_items .content01_title {
    font-size: 1.0714rem;
    margin-top: 20px;
  }
  .cta {
    margin-top: 20px;
    gap: 10%;
  }
  .cta .button {
    justify-content: center !important;
    font-size: 0.7143rem;
    padding: 10px 25px;
    width: 145px;
  }
  .cta .button_outline {
    justify-content: center !important;
    text-align: center;
    font-size: 0.7143rem;
    padding: 10px 25px;
    width: 145px;
  }
  .cta .button .orange_arrow {
    width: 20%;
    display: none;
  }
  .cta .button_outline .white_arrow {
    width: 20%;
    display: none;
  }
  .cta .button:hover .icon_hover {
    display: block;
  }
  .cta .button_outline:hover .icon_hover {
    display: block;
  }
  .content02_items,
  .content01_items {
    padding-bottom: 20px;
  }
}
