@use './common' as *;

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}





// content01
.content01_items{
    padding-bottom: $spacing-xl;
    .content01_item{
       .content01_icon{
        width: 30%;
       } 
    }
}
.content02_items{
     padding-bottom: $spacing-xl;
    .content02_item{
       .content02_icon{
        width: 18%;
       } 
    }
}


.content01_items, .content02_items{
    .content01_title{
        margin-top: $spacing-md;
        color: $primary-01;
        font-weight: $font-weight-bold;
        font-size: $font-body-lg;
    } 
    .content01_desc{
        font-size: $font-body-md;
        margin-top: $spacing-xxxs;
        color: $black-00;
        font-weight: $font-weight-regular;
    }  
}
.sub02_title{
    font-size: $font-heading-md;
    font-weight: $font-weight-bold;
    color: $black-00;
}

footer{
    margin-top: $spacing-xl;
}
