@use './common' as *;

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}
img{
    width: 100%;
}

.sub04_title{
    font-size: $font-heading-xl;
    color: $black-00;
    font-weight: $font-weight-bold;
    margin-top: $spacing-lg;
}


.table{
    margin-top: $spacing-md;
    .table_title{
        background-color: $primary-00;
        color: #fff;
    }
    .table_text{
        th{
            color: $primary-00;
            padding: $spacing-xxs;
        }
        td{
            vertical-align: middle !important;
            padding: $spacing-xxs;
            cursor: pointer;
        }
    }
}
.pagination{
    padding-bottom: $spacing-xl;
}
.page-link{
        color: $primary-01 !important;
        &:hover{
            background-color: $primary-04;
        }
        &:focus{
            box-shadow:  none;
        }
}
