@use './common' as *;

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}

// menu list 
.kv-tab-list{
            padding-left: 246px;
    .tab-btn{
        font-size: $font-body-sm;
        color: $black-00;
        font-weight: $font-weight-bold; 
        margin-right: $spacing-lg;


        &:hover{
            text-decoration: none;
            color: $black-01 !important;
            border-bottom: $primary-01;
            cursor: pointer;
    }
    }
}



.sub03{
    position: relative;
    h2{
        position: absolute;
    }

}

.sub03_title{
    font-size: $font-heading-lg;
    color: $primary-01;
    margin-bottom: $spacing-md;
    font-weight: $font-weight-bold;
}
.sub03_subtitle{
    font-size: $font-body-lg;
    color: $black-00;
    font-weight: $font-weight-regular;
}

.tab-content {
    padding: 0;
    display: none;
}
.tab-content.active {
  display: block;
}

// tab_content01

.sub_photo{
    .adapt{
        width: 100%;
        padding: 30px;
        
    .description{
        position: relative;
        width: 100%;
        height: 500px;
        background-color: #fff;
        transform: translateY(100%) translateY(-540px) translateZ(0);
        transition: transform 0.5s ease-out;
    

    }

    .adapt_name p{
        margin: 0;
        padding: 10px 0;
        font-weight: $font-weight-bold;
    }
    .icon{
    width: 5%;
    }
    .info p{
        font-size: $font-caption-s;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .adapt_text{
    font-weight: $font-weight-light;
    }    

}
}


.numberimg{
    width: 60%;
    margin-left: 15%;
}

// tab_content02

#tab2,#tab3{
    .sub_line{

        &::after{
            content: "";
            width: 100%;
            border: 1px solid #E2E2E2;
        }
    }
}
