@charset "UTF-8";
/* Spacing (Margin & Padding */
/* black 색상 */
/* Point 색상 */
/* font-weight */
/* font-size */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.7143rem;
  font-weight: 400;
}

p {
  color: #2e2e2e;
  font-weight: 400;
}

.navbar {
  flex-wrap: nowrap !important;
  padding: 50px 0;
}
.navbar .navbar__left .navbar__logo {
  width: 70%;
}
.navbar .navbar__left .navbar__ghost {
  display: none;
  background: transparent;
  border: none;
}
.navbar .navbar__menu li {
  list-style: none;
  font-weight: 600;
  margin-left: 50px;
}
.navbar .navbar__menu .nav__link {
  text-decoration: none;
  color: #f2600c;
  font-size: 0.9286rem;
}
.navbar .navbar__menu .nav__link:hover {
  border-bottom: 3px solid #fc7e27;
}

/* kv_title */
.kv-top {
  position: relative;
  height: 400px;
  background: url("../images/sub/sub04_main-img.png");
  background-repeat: no-repeat;
  background-position: center;
}
.kv-top .kv-text-title {
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

/* footer */
footer .footer__container {
  padding: 45px !important;
}
footer .footer__container .footer__logo {
  width: 15%;
  margin-bottom: 45px;
}
footer .footer__container .footer__icon {
  margin-bottom: 45px;
  font-size: 1.0714rem;
}
footer .footer__container .footer__text {
  font-size: 0.7143rem;
}

.cta {
  margin-top: 70px;
  gap: 10%;
}
.cta .button {
  padding: 15px 48px;
  background-color: #f2600c;
  font-size: 0.9286rem;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f2600c;
  width: 250px;
}
.cta .button .orange_arrow {
  width: 20%;
}
.cta .button .icon_hover {
  width: 20%;
  display: none;
  margin: 0;
}
.cta .button:hover {
  background-color: transparent;
  color: #f2600c;
  transition: all 0.3s ease;
}
.cta .button:hover img {
  display: none;
}
.cta .button:hover .icon_hover {
  display: block;
}
.cta .button_outline {
  padding: 15px 48px;
  background-color: transparent;
  border: 1px solid #fc7e27;
  color: #fc7e27;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 0.9286rem;
  width: 250px;
}
.cta .button_outline .white_arrow {
  width: 20%;
}
.cta .button_outline .icon_hover {
  width: 10%;
  display: none;
}
.cta .button_outline:hover {
  background-color: #fc7e27;
  color: #ffffff;
  transition: all 0.3s ease;
}
.cta .button_outline:hover img {
  display: none;
}
.cta .button_outline:hover .icon_hover {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
body h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.connected__title {
  padding-top: 80px;
}
.mo_container {
  display: none;
}
.table {
  margin-top: 70px;
}
.table .table_title {
  background-color: #f2600c;
  color: #fff;
}
.table .table_text th {
  color: #f2600c;
  padding: 20px;
}
.table .table_text td {
  vertical-align: middle !important;
  padding: 20px;
  cursor: pointer;
}
.table tbody tr:hover {
  background-color: #fff4ed;
}

.pagination {
  padding-bottom: 87px;
}

.page-link {
  color: #fc7e27 !important;
}
.page-link:hover {
  background-color: #fff4ed;
}
.page-link:focus {
  box-shadow: none;
} /*# sourceMappingURL=Sub04-stay_connected.css.map */

@media (max-width: 1199px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .kv-top {
    height: 300px;
  }
  .kv-top .kv-text-title {
    height: 300px;
  }
  .kv-text-title h2 {
    font-size: 1.5714rem;
  }

  /* table */
  .table_title th {
    font-size: 0.9286rem;
    font-weight: 400;
  }
  .table_text th td {
    font-size: 0.9286rem;
    font-weight: 400;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kv-top {
    height: 200px;
  }
  .kv-top .kv-text-title {
    height: 200px;
  }
  .kv-text-title h2 {
    font-size: 1.2857rem;
  }
  /* table */
  .table_title th {
    font-size: 0.7143rem;
    font-weight: 400;
  }
  .table_text th td {
    font-size: 0.7143rem;
    font-weight: 400;
  }
  .table_date {
    display: none;
  }
}
@media (min-width: 340px) and (max-width: 575px) {
  .table_wrap {
    display: none;
  }
  .mo_container {
    display: block;
  }
  .pc_page {
    display: none;
  }
  .kv-top {
    height: 100px;
    background: url("../images/sub/sub04_main-img02.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .kv-top .kv-text-title {
    height: 100px;
  }
  .kv-text-title h2 {
    font-size: 0.9286rem;
  }
  .connected__title {
    display: none;
  }
  .mo_table {
    margin-top: 50px;
  }
  .bordertop {
    border-top: 1px solid #fc7e27;
  }
  .table_description {
    font-size: 10px;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 5px;
  }
  .bullet {
    font-weight: 800;
    color: #fc7e27;
  }
  .reple {
    font-size: 8px;
    color: #fc7e27;
  }
  .mo_cell {
    padding: 10px 15px;
    border-bottom: 1px solid #fc7e27;
  }
  .mo_page {
    margin-top: 20px;
  }
}
