@charset "UTF-8";
/* Spacing (Margin & Padding */
/* black 색상 */
/* Point 색상 */
/* font-weight */
/* font-size */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

body h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.7143rem;
  font-weight: 400;
}

span {
  color: #f2600c;
  font-weight: 400;
}

p {
  color: #2e2e2e;
  font-weight: 400;
}

.navbar {
  flex-wrap: nowrap !important;
  padding: 50px 0;
}
.navbar .navbar__left .navbar__logo {
  width: 70%;
}
.navbar .navbar__left .navbar__ghost {
  display: none;
  background: transparent;
  border: none;
}
.navbar .navbar__menu li {
  list-style: none;
  font-weight: 600;
  margin-left: 50px;
}
.navbar .navbar__menu .nav__link {
  text-decoration: none;
  color: #f2600c;
  font-size: 0.9286rem;
}
.navbar .navbar__menu .nav__link:hover {
  border-bottom: 3px solid #fc7e27;
}
.kv-main-title h1 {
  font-size: 2.7143rem;
  font-weight: 700;
  margin: 0 0 88px 246px;
  color: #2e2e2e;
}

.kv-tab-list {
  margin-top: 20px;
}
.nav-pills .nav-link.active {
  background-color: #f2600c;
}
.nav-pills .nav-link.active:hover {
  color: #fff8f4;
}
.nav-pills .nav-link:hover {
  color: #f2600c;
}

.sub_main {
  position: relative;
}
.sub_main h2 {
  font-size: 2.2857rem !important;
  position: absolute;
  top: 150px;
  color: #fff8f4;
  left: 50%;
  transform: translateX(-50%);
}

footer .footer__container {
  padding: 45px !important;
}
footer .footer__container .footer__logo {
  width: 15%;
  margin-bottom: 45px;
}
footer .footer__container .footer__icon {
  margin-bottom: 45px;
  font-size: 1.0714rem;
}
footer .footer__container .footer__text {
  font-size: 0.7143rem;
}

.cta {
  margin-top: 70px;
  gap: 10%;
}
.cta .button {
  padding: 15px 48px;
  background-color: #f2600c;
  font-size: 0.9286rem;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f2600c;
  width: 250px;
}
.cta .button .orange_arrow {
  width: 20%;
}
.cta .button .icon_hover {
  width: 20%;
  display: none;
  margin: 0;
}
.cta .button:hover {
  background-color: transparent;
  color: #f2600c;
  transition: all 0.3s ease;
}
.cta .button:hover img {
  display: none;
}
.cta .button:hover .icon_hover {
  display: block;
}
.cta .button_outline {
  padding: 15px 48px;
  background-color: transparent;
  border: 1px solid #fc7e27;
  color: #fc7e27;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 0.9286rem;
  width: 250px;
}
.cta .button_outline .white_arrow {
  width: 20%;
}
.cta .button_outline .icon_hover {
  width: 10%;
  display: none;
}
.cta .button_outline:hover {
  background-color: #fc7e27;
  color: #ffffff;
  transition: all 0.3s ease;
}
.cta .button_outline:hover img {
  display: none;
}
.cta .button_outline:hover .icon_hover {
  display: block;
}

.kv-top {
  position: relative;
  height: 400px;
  background: url("../images/sub/sub03_main-img01.png");
  background-repeat: no-repeat;
  background-position: center;
}
.kv-top .kv-text-title {
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.pet-content img {
  border-radius: 10px;
}
.pet-content {
  position: relative;
  overflow: hidden;
}

.pet-content .pet-title {
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -100%;
  transition: all 0.3s;
  padding: 20%;
}
.pet-title p {
  color: #fff8f4;
}

.pet-content .pet-iamges {
  width: 100%;
}
.pet-content .pet-iamges img {
  width: 100%;
}

.mo-pet-title {
  display: none;
}

.pet-content:hover .pet-title {
  bottom: 0;
  width: 100%;
  height: 100%;
  text-wrap: nomal;
}

.nav-link {
  font-size: 1.0714rem;
  color: #2e2e2e;
  font-weight: 700;
  margin-right: 80px;
  background-color: none;
}
.sub03 {
  position: relative;
}
.sub03 h2 {
  position: absolute;
}

.sub03_title {
  font-size: 2.2857rem;
  color: #fc7e27;
  margin-bottom: 70px;
  font-weight: 700;
}
.sub03_title img {
  width: 5%;
}

.sub03_subtitle {
  font-size: 1.4286rem;
  color: #2e2e2e;
  font-weight: 400;
}

.sub_photo .adapt .icon {
  width: 5%;
}
.sub_photo .adapt .info p {
  font-size: 0.7143rem;
  margin-top: 5px;
  margin-bottom: 0;
}

.numberimg {
  width: 60%;
  margin: 15%;
}

#tab2 .sub_line::after,
#tab3 .sub_line::after {
  content: "";
  width: 100%;
  border: 1px solid #e2e2e2;
} /*# sourceMappingURL=Sub03-meet_your_match.css.map */

@media (max-width: 1199px) {
  .pet-content .pet-title {
    bottom: -40%;
  }
}

@media (max-width: 992px) {
  .pet-content .pet-title {
    bottom: -71%;
  }
}

@media (max-width: 768px) {
  .kv-top {
    height: 300px;
  }
  .kv-top .kv-text-title {
    height: 300px;
  }
  .kv-text-title h2 {
    font-size: 1.5714rem;
  }
  .nav-link {
    margin-right: 10px;
  }
  .pet-content .pet-title {
    bottom: -24%;
  }
  .sub03_title {
    font-size: 1.5714rem;
    margin-bottom: 50px;
  }
  .sub03_subtitle {
    font-size: 1.2857rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .kv-top {
    height: 200px;
  }
  .kv-top .kv-text-title {
    height: 200px;
  }
  .kv-text-title h2 {
    font-size: 1.2857rem;
  }
  .pet-content .pet-title {
    bottom: -17%;
  }
  .sub03_title {
    padding-top: 20px;
    margin-bottom: 45px;
  }
  .numberimg {
    display: none;
  }
}
@media (min-width: 340px) and (max-width: 575px) {
  .kv-top {
    height: 100px;
    background: url("../images/sub/sub03_main-img02.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .row .pet-content {
    display: flex;
  }
  .card01 {
    margin-top: 35px;
  }
  .card02,
  .card03,
  .card04 {
    margin-top: 0 !important;
  }
  .pet-title {
    width: 100%;
    bottom: 0;
    padding: 0;
  }
  .pet-title p {
    font-size: 0.7143rem;
  }
  .kv-top .kv-text-title {
    height: 100px;
  }
  .kv-text-title h2 {
    font-size: 0.9286rem;
  }
  .nav-link {
    font-size: 0.7143rem;
  }
  .pet-content {
    display: flex;
    margin-bottom: 20px;
    gap: 5%;
  }
  .pet-content .pet-title {
    width: 100%;
    bottom: -16px;
    padding: 10px;
    filter: blur();
    background-color: rgba(255, 255, 255, 0.5);
  }
  .pet-title {
    display: none;
  }
  .mo-pet-title {
    font-size: 0.7143rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mo-pet-title .name,
  .mo-pet-title .age,
  .mo-pet-title .pet-text {
    margin-bottom: 3px;
  }
  .mo-pet-title .name {
    font-weight: 700;
    color: #f2600c;
  }

  .pet-content .pet-title p {
    color: #2e2e2e;
  }
  .sub03_title {
    font-size: 0.9286rem;
    margin-bottom: 20px;
  }
  .sub03_subtitle {
    font-size: 0.7143rem;
  }
  .numberimg {
    display: none;
  }
}
