@use './common' as *;

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}


.kv-top{
    position: relative;
    height: 400px;
    background: url('../images/sub/sub03_main-img01.png');
    background-repeat: no-repeat;
    background-position: center;
    .kv-text-title{
        height: 400px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
}


.kv-tab-list{
    .nav-pills{
        .nav-link{
            font-size: $font-body-sm;
            color: $black-00;
            font-weight: $font-weight-bold; 
            margin-right: $spacing-lg;
        }
    }
}

// menu list 
// .kv-tab-list{

//     .tab-btn{
//         font-size: $font-body-sm;
//         color: $black-00;
//         font-weight: $font-weight-bold; 
//         margin-right: $spacing-lg;


//         &:hover{
//             text-decoration: none;
//             color: $black-01 !important;
//             border-bottom: $primary-01;
//             cursor: pointer;
//     }
//     }
// }


.pet-content{
    position: relative;
    overflow: hidden;
    .pet-title{
        padding: 10px 0;
        text-align: center;
        background-color:rgba(255,255,255,0.3);
        position: absolute;
        bottom:-34%;
        transition: all .3s;
    }
    .pet-iamges{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.pet-content:hover .pet-title{
    bottom: 0;
}











.sub03{
    position: relative;
    h2{
        position: absolute;
    }

}

.sub03_title{
    font-size: $font-heading-lg;
    color: $primary-01;
    margin-bottom: $spacing-md;
    font-weight: $font-weight-bold;
}
.sub03_subtitle{
    font-size: $font-body-lg;
    color: $black-00;
    font-weight: $font-weight-regular;
}



// tab_content01

.sub_photo{
    .adapt{
        width: 33%;
        padding: 30px;
        border-radius: 10px;
        position:relative;
        overflow: hidden;

        &:hover .description{
             transform: translateY(-150%);

        }

    .petcard{
        width: 100%;
        height: auto;
    }    
        
    .description{
        position: a;
        width: 100%;
        height: auto;
        background-color: #fff;
        background: rgba(#fff, 0.5);  // 유리 효과
        // backdrop-filter: blur(6px);
        transform: translateY(100%) translateY(-158px) translateZ(0);
        transition: transform 0.5s ease-in;


    }
    .adapt_name p{
        margin: 0;
        padding: 10px 0;
        font-weight: $font-weight-bold;
    }
    .icon{
    width: 5%;
    }
    .info p{
        font-size: $font-caption-s;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .adapt_text{
    font-weight: $font-weight-light;
    }    

}
}





.numberimg{
    width: 60%;
    margin-left: 15%;
}

// tab_content02

#tab2,#tab3{
    .sub_line{

        &::after{
            content: "";
            width: 100%;
            border: 1px solid #E2E2E2;
        }
    }
}
