@use './common' as *;

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}
.connected__title{
     padding-top: $spacing-xxl;
}


.table{
    margin-top: $spacing-md;
    .table_title{
        background-color: $primary-00;
        color: #fff;
    }
    .table_text{
        th{
            color: $primary-00;
            padding: $spacing-xxs;
        }
        td{
            vertical-align: middle !important;
            padding: $spacing-xxs;
            cursor: pointer;
        }
    }
    tbody{
        tr{
            &:hover{
                background-color: $primary-04;
            }
        }
    }
}
.pagination{
    padding-bottom: $spacing-xl;
}
.page-link{
        color: $primary-01 !important;
        &:hover{
            background-color: $primary-04;
        }
        &:focus{
            box-shadow:  none;
        }
}
