@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  font-size: 14px;
  letter-spacing: 0px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-01);
}

:root {
  /* Spacing (Margin & Padding) */
  --spacing-xxs: 10px;
  --spacing-xs: 12px;
  --spacing-sm: 16px;
  --spacing-md: 25px;
  --spacing-lg: 48px;
  --spacing-xl: 80px;
  --spacing-xxl: 160px;
  /* black 색상 */
  --black-01: #2E2E2E;
  --black-02: #4A4A4A;
  /* Point 색상 */
  --primary-01:#FC7E27;
  --primary-02:#FDA96F;
  --primary-03:#FED4B7;
  --primary-04:#FFF4ED;
  /* font-weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* font-size */
  --font-heading-xxl: 3.4286rem;
  --font-heading-xl: 2.7143rem;
  --font-heading-lg: 2.2857rem;
  --font-heading-md: 1.5714rem;
  --font-body-lg: 1.4286rem;
  --font-body-md: 1.2857rem;
  --font-body-sm: 1.0714rem;
  --font-caption: 0.9286rem;
}
:root h1 {
  font-size: var(--font-heading-xl);
  font-weight: var(--font-weight-regular);
}
:root span {
  color: var(--primary-01);
  font-weight: var(--font-weight-regular);
}
:root p {
  font-size: var(--font-caption);
  font-weight: var(--font-weight-regular);
}
:root .container {
  padding: 80px 0;
}

.button {
  position: relative;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--primary-01);
  font-size: var(--font-caption);
  color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid var(--primary-01);
}
.button:hover {
  background-color: transparent;
  color: var(--primary-01);
  transition: all 0.3s ease;
}

.button_outline {
  padding: var(--spacing-md) var(--spacing-lg);
  background: transparent;
  border: 1px solid var(--primary-01);
  color: var(--primary-01);
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: var(--font-caption);
}
.button_outline:hover {
  background-color: var(--primary-01);
  color: #FFFFFF;
  transition: all 0.3s ease;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
body h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
body h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}

header .navbar {
  flex-wrap: nowrap !important;
  padding: 49px;
}
header .navbar .navbar__ghost {
  display: none;
  background: transparent;
  border: none;
}
header .navbar .navbar__menu {
  gap: 50px;
}
header .navbar .navbar__menu li {
  list-style: none;
  font-size: var(--font-body-sm);
  font-weight: var(--font-weight-semibold);
}
header .navbar .navbar__menu a {
  color: #2e2e2e;
}

.bg-left {
  background: url("../images/sub/sub01_img01.png");
  background-repeat: no-repeat;
}

.sub-content .content-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kv-main-title h1 {
  font-size: 90px;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-xl);
  color: var(--primary-01);
  padding-top: 142px;
  padding-bottom: var(--spacing-xl);
}

.kv-tab-list {
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-xl);
  color: var(--primary-01);
  padding-top: 142px;
  padding-bottom: var(--spacing-xl);
}

.tab-content h2 {
  font-size: 90px;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-xl);
  color: var(--primary-01);
  padding-top: 142px;
  padding-bottom: var(--spacing-xl);
}
.tab-content .main-text {
  font-size: var(--font-heading-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--primary-01);
}
.tab-content .sub_text {
  font-size: var(--font-heading-md);
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-sm);
}
.tab-content .description {
  font-size: var(--font-body-sm);
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-md);
}
.tab-content .sub01_main-img {
  width: 100%;
}
.tab-content .sub01_main {
  position: absolute;
  z-index: 1;
  color: #FFF8F4;
}
.tab-content .sub01_main .main-text {
  margin-top: var(--spacing-lg);
  color: #FFF8F4;
}
.tab-content .part04 {
  padding-top: var(--spacing-xl);
}/*# sourceMappingURL=SAVEYEARN.css.map */