@charset "UTF-8";
/* Spacing (Margin & Padding */
/* black 색상 */
/* Point 색상 */
/* font-weight */
/* font-size */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.7143rem;
  font-weight: 400;
}

span {
  color: #f2600c;
  font-weight: 400;
}

p {
  color: #2e2e2e;
  font-weight: 400;
}

.navbar {
  flex-wrap: nowrap !important;
  padding: 50px 0;
}
.navbar .navbar__left .navbar__logo {
  width: 70%;
}
.navbar .navbar__left .navbar__ghost {
  display: none;
  background: transparent;
  border: none;
}
.navbar .navbar__menu li {
  list-style: none;
  font-weight: 600;
  margin-left: 50px;
}
.navbar .navbar__menu .nav__link {
  text-decoration: none;
  color: #f2600c;
  font-size: 0.9286rem;
}
.navbar .navbar__menu .nav__link:hover {
  border-bottom: 3px solid #fc7e27;
}

.kv-main-title h1 {
  font-size: 2.7143rem;
  font-weight: 700;
  margin: 0 0 88px 246px;
  color: #2e2e2e;
}

.sub_main {
  position: relative;
}
.sub_main h2 {
  font-size: 2.2857rem !important;
  position: absolute;
  top: 150px;
  color: #fff8f4;
  left: 50%;
  transform: translateX(-50%);
}

footer .footer__container {
  padding: 45px !important;
}
footer .footer__container .footer__logo {
  width: 15%;
  margin-bottom: 45px;
}
footer .footer__container .footer__icon {
  margin-bottom: 45px;
  font-size: 1.0714rem;
}
footer .footer__container .footer__text {
  font-size: 0.7143rem;
}

.cta {
  gap: 10%;
}
.cta .button {
  padding: 15px 48px;
  background-color: #f2600c;
  font-size: 0.9286rem;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f2600c;
  width: 250px;
}
.cta .button .orange_arrow {
  width: 20%;
}
.cta .button .icon_hover {
  width: 20%;
  display: none;
  margin: 0;
}
.cta .button:hover {
  background-color: transparent;
  color: #f2600c;
  transition: all 0.3s ease;
}
.cta .button:hover img {
  display: none;
}
.cta .button:hover .icon_hover {
  display: block;
}
.cta .button_outline {
  padding: 15px 48px;
  background-color: transparent;
  border: 1px solid #fc7e27;
  color: #fc7e27;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 0.9286rem;
  width: 250px;
}
.cta .button_outline .white_arrow {
  width: 20%;
}
.cta .button_outline .icon_hover {
  width: 10%;
  display: none;
}
.cta .button_outline:hover {
  background-color: #fc7e27;
  color: #ffffff;
  transition: all 0.3s ease;
}
.cta .button_outline:hover img {
  display: none;
}
.cta .button_outline:hover .icon_hover {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
body h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.navbar {
  flex-wrap: nowrap !important;
  padding: 50px 0;
}
.navbar .navbar__ghost {
  display: none;
  background: transparent;
  border: none;
}
.navbar .navbar__menu li {
  list-style: none;
  font-size: 0.9286rem;
  font-weight: 700;
  margin-left: 50px;
}
.navbar .navbar__menu .nav__link {
  text-decoration: none;
  color: #f2600c;
}
.navbar .navbar__menu .nav__link:hover {
  border-bottom: 3px solid #fc7e27;
}

.section_01 .sec_01_maintitle .main_img {
  width: 100%;
}
.section_01 .sec_01_maintitle span {
  font-size: 3.4286rem;
}
.section_01 .sec_01_maintitle .cta {
  padding-top: 70px;
}

.section_02 {
  background: #fff4ed;
}
.section_02 img {
  width: 20%;
  margin-bottom: 20px;
}
.section_02 .counter {
  font-size: 2.7143rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.section_02 .unit {
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 700;
}
.section_02 .label {
  font-size: 1.2857rem;
  font-weight: 700;
}

.section_03 .section__main-title {
  margin-bottom: 87px;
}
.section_03 .section__items::before {
  content: "";
  display: block;
  width: 782px;
  height: 2.5px;
  background-color: #fda96f;
  position: relative;
  top: 177px;
}
.section_03 .section__item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_03 .section__item .section03__icon {
  width: 30px;
  height: 30px;
  background: url("../images/sec03_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
  position: absolute;
  top: 128px;
}
.section_03 .section__item .section03__card {
  width: 80%;
  border-radius: 20px;
  margin-top: 166px;
}
.section_03 .section__item::after {
  content: "";
  display: block;
  width: 2px;
  height: 40px;
  background-color: #fda96f;
  position: relative;
  top: -553px;
}
.section_03 .section03__sbutitle {
  font-size: 1.4286rem;
  font-weight: 600;
  margin-top: 50px;
}

.section_04 h2 {
  margin-bottom: 20px;
}
.section_04 .swiper-slide {
  width: 300px !important;
  border: 1px solid #fc7e27;
}
.section_04 .slide_text-box {
  gap: 5px;
}
.section_04 .slide_text-box img {
  width: 25px;
  height: 25px;
}
.section_04 .slide_text-box .slide_name {
  font-size: 1.2857rem;
  font-weight: 700;
}

.section_05 h2 {
  margin-bottom: 20px;
}

.section_06 .section06__main-title {
  margin-bottom: 87px;
}
.section_06 .img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_06 .ratio-16x9 {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.section_06 .ratio-4x3 {
  aspect-ratio: 4/3;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.section_07 {
  background: #fee7d7;
}
.section_07 h1 {
  font-size: 1.5714rem;
  font-weight: 600;
}
.section_07 .form-control {
  border: 1px solid #fc7e27;
  background: transparent;
  text-align: center;
  margin-top: 20px;
  height: 55px;
}

@media (max-width: 1199px) {
  .section_03 .section__items::before,
  .section_03 .section__item::after {
    width: 0 !important;
    height: 0 !important;
  }
  .section_03 .section__item .section03__icon {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */