@charset "UTF-8";
/* Spacing (Margin & Padding */
/* black 색상 */
/* Point 색상 */
/* font-weight */
/* font-size */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.7143rem;
  font-weight: 400;
}

span {
  color: #F2600C;
  font-weight: 400;
}

p {
  color: #2E2E2E;
  font-weight: 400;
}

.navbar {
  flex-wrap: nowrap !important;
  padding: 50px 0;
}
.navbar .navbar__left .navbar__logo {
  width: 70%;
}
.navbar .navbar__left .navbar__ghost {
  display: none;
  background: transparent;
  border: none;
}
.navbar .navbar__menu li {
  list-style: none;
  font-weight: 600;
  margin-left: 50px;
}
.navbar .navbar__menu .nav__link {
  text-decoration: none;
  color: #F2600C;
  font-size: 0.9286rem;
}
.navbar .navbar__menu .nav__link:hover {
  border-bottom: 3px solid #FC7E27;
}

.kv-main-title h1 {
  font-size: 2.7143rem;
  font-weight: 700;
  margin: 0 0 88px 246px;
  color: #2E2E2E;
}

.sub_main {
  position: relative;
}
.sub_main h2 {
  font-size: 2.2857rem !important;
  position: absolute;
  top: 150px;
  color: #FFF8F4;
  left: 50%;
  transform: translateX(-50%);
}

footer .footer__container {
  padding: 45px !important;
}
footer .footer__container .footer__logo {
  width: 15%;
  margin-bottom: 45px;
}
footer .footer__container .footer__icon {
  margin-bottom: 45px;
  font-size: 1.0714rem;
}
footer .footer__container .footer__text {
  font-size: 0.7143rem;
}

.cta {
  margin-top: 70px;
  gap: 10%;
}
.cta .button {
  padding: 15px 48px;
  background-color: #F2600C;
  font-size: 0.9286rem;
  color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #F2600C;
  width: 250px;
}
.cta .button .orange_arrow {
  width: 20%;
}
.cta .button .icon_hover {
  width: 20%;
  display: none;
  margin: 0;
}
.cta .button:hover {
  background-color: transparent;
  color: #F2600C;
  transition: all 0.3s ease;
}
.cta .button:hover img {
  display: none;
}
.cta .button:hover .icon_hover {
  display: block;
}
.cta .button_outline {
  padding: 15px 48px;
  background-color: transparent;
  border: 1px solid #FC7E27;
  color: #FC7E27;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 0.9286rem;
  width: 250px;
}
.cta .button_outline .white_arrow {
  width: 20%;
}
.cta .button_outline .icon_hover {
  width: 10%;
  display: none;
}
.cta .button_outline:hover {
  background-color: #FC7E27;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.cta .button_outline:hover img {
  display: none;
}
.cta .button_outline:hover .icon_hover {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
body h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}

.kv-top {
  position: relative;
  height: 400px;
  background: url("../images/sub/sub03_main-img01.png");
  background-repeat: no-repeat;
  background-position: center;
}
.kv-top .kv-text-title {
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.kv-tab-list .nav-pills .nav-link {
  font-size: 1.0714rem;
  color: #2E2E2E;
  font-weight: 700;
  margin-right: 80px;
}

.pet-content {
  position: relative;
  overflow: hidden;
}
.pet-content .pet-title {
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -34%;
  transition: all 0.3s;
}
.pet-content .pet-iamges {
  width: 100%;
}
.pet-content .pet-iamges img {
  width: 100%;
}

.pet-content:hover .pet-title {
  bottom: 0;
}

.sub03 {
  position: relative;
}
.sub03 h2 {
  position: absolute;
}

.sub03_title {
  font-size: 2.2857rem;
  color: #FC7E27;
  margin-bottom: 70px;
  font-weight: 700;
}

.sub03_subtitle {
  font-size: 1.4286rem;
  color: #2E2E2E;
  font-weight: 400;
}

.sub_photo .adapt {
  width: 33%;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.sub_photo .adapt:hover .description {
  transform: translateY(-150%);
}
.sub_photo .adapt .petcard {
  width: 100%;
  height: auto;
}
.sub_photo .adapt .description {
  position: a;
  width: 100%;
  height: auto;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.5);
  transform: translateY(100%) translateY(-158px) translateZ(0);
  transition: transform 0.5s ease-in;
}
.sub_photo .adapt .adapt_name p {
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
}
.sub_photo .adapt .icon {
  width: 5%;
}
.sub_photo .adapt .info p {
  font-size: 0.7143rem;
  margin-top: 5px;
  margin-bottom: 0;
}
.sub_photo .adapt .adapt_text {
  font-weight: 300;
}

.numberimg {
  width: 60%;
  margin-left: 15%;
}

#tab2 .sub_line::after, #tab3 .sub_line::after {
  content: "";
  width: 100%;
  border: 1px solid #E2E2E2;
}/*# sourceMappingURL=Sub03-meet_your_match.css.map */