@charset "UTF-8";
/* Spacing (Margin & Padding */
/* black 색상 */
/* Point 색상 */
/* font-weight */
/* font-size */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.7143rem;
  font-weight: 400;
}

span {
  color: #f2600c;
  font-weight: 400;
}

p {
  color: #2e2e2e;
  font-weight: 400;
}

.navbar {
  flex-wrap: nowrap !important;
  padding: 50px 0;
}
.navbar .navbar__left .navbar__logo {
  width: 70%;
}
.navbar .navbar__left .navbar__ghost {
  display: none;
  background: transparent;
  border: none;
}
.navbar .navbar__menu li {
  list-style: none;
  font-weight: 600;
  margin-left: 50px;
}
.navbar .navbar__menu .nav__link {
  text-decoration: none;
  color: #f2600c;
  font-size: 0.9286rem;
}
.navbar .navbar__menu .nav__link:hover {
  border-bottom: 3px solid #fc7e27;
}

.kv-main-title h1 {
  font-size: 2.7143rem;
  font-weight: 700;
  margin: 0 0 88px 246px;
  color: #2e2e2e;
}

.sub_main {
  position: relative;
}
.sub_main h2 {
  font-size: 2.2857rem !important;
  position: absolute;
  top: 150px;
  color: #fff8f4;
  left: 50%;
  transform: translateX(-50%);
}

footer .footer__container {
  padding: 45px !important;
}
footer .footer__container .footer__logo {
  width: 15%;
  margin-bottom: 45px;
}
footer .footer__container .footer__icon {
  margin-bottom: 45px;
  font-size: 1.0714rem;
}
footer .footer__container .footer__text {
  font-size: 0.7143rem;
}

.cta {
  gap: 10%;
}
.cta .button {
  padding: 15px 48px;
  background-color: #f2600c;
  font-size: 0.9286rem;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f2600c;
  width: 250px;
}
.cta .button .orange_arrow {
  width: 20%;
}
.cta .button .icon_hover {
  width: 20%;
  display: none;
  margin: 0;
}
.cta .button:hover {
  background-color: transparent;
  color: #f2600c;
  transition: all 0.3s ease;
}
.cta .button:hover img {
  display: none;
}
.cta .button:hover .icon_hover {
  display: block;
}
.cta .button_outline {
  padding: 15px 48px;
  background-color: transparent;
  border: 1px solid #fc7e27;
  color: #fc7e27;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 0.9286rem;
  width: 250px;
}
.cta .button_outline .white_arrow {
  width: 20%;
}
.cta .button_outline .icon_hover {
  width: 10%;
  display: none;
}
.cta .button_outline:hover {
  background-color: #fc7e27;
  color: #ffffff;
  transition: all 0.3s ease;
}
.cta .button_outline:hover img {
  display: none;
}
.cta .button_outline:hover .icon_hover {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
body h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
}
body img {
  width: 100%;
}

.container-fluid {
  padding-left: 0;
}

.part01_main {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
}
.part01_main .main-text {
  font-size: 3.4286rem;
  color: #fc7e27;
  font-weight: 700;
}
.part01_main .sub_text {
  color: #fff4ed;
  font-size: 1.4286rem;
  font-weight: 700;
  margin-top: 20px;
}
.part01_main .description {
  color: #fff4ed;
  font-size: 1.0714rem;
  font-weight: 700;
  margin-top: 20px;
}
.part01_main .sub01_main {
  position: absolute;
  z-index: 2;
}
.part01_main .sub01_main-img {
  position: relative;
  z-index: 1;
}

.kv-tab-list {
  padding-left: 246px;
}
.kv-tab-list .tab-btn {
  font-size: 1.0714rem;
  color: #2e2e2e;
  font-weight: 700;
  margin-right: 80px;
}
.kv-tab-list .tab-btn:hover {
  text-decoration: none;
  color: #d9d9d9 !important;
  border-bottom: #fc7e27;
  cursor: pointer;
}

.tab-content .part02 .main-text,
.tab-content .part03 .main-text,
.tab-content .part04 .main-text {
  font-size: 3.4286rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fc7e27;
}
.tab-content .part02 .sub_text,
.tab-content .part03 .sub_text,
.tab-content .part04 .sub_text {
  font-size: 1.5714rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.tab-content .part02 .description,
.tab-content .part03 .description,
.tab-content .part04 .description {
  font-size: 1.0714rem;
  font-weight: 700;
  margin: 0;
}
.tab-content .part02 .text_content {
  margin-left: 45px;
}
.tab-content .part03 .text_content {
  margin-right: 45px;
}
.tab-content .part04 .text-center {
  margin-top: 87px;
  margin-bottom: 87px;
}

.sub01_faq .faq__title {
  padding-top: 160px;
}
.sub01_faq .accordion {
  margin-top: 70px;
  padding: 0 95px;
}
.sub01_faq .accordion .card {
  border: none;
  border-bottom: 3px solid #fed4b7;
}
.sub01_faq .accordion .card .card-header {
  background: #fff;
  border-bottom: none;
}
.sub01_faq .accordion .card .card-header .btn {
  padding: 16px 24px;
  background: transparent;
  color: #2e2e2e;
}
.sub01_faq .accordion .card .card-header .btn:not(.collapsed) {
  background: #f2600c;
  color: #fff8f4;
}
.sub01_faq .accordion .card .card-header:focus {
  outline: none;
  box-shadow: none !important;
}
.sub01_faq .accordion .card .card-header .fa-paw {
  color: #fc7e27;
}
.sub01_faq .accordion .card .card-header .btn-link:focus {
  box-shadow: none;
}
.sub01_faq .accordion .card-body {
  margin: 16px 24px;
  background: #fff8f4;
}
.sub01_faq .btn-link {
  font-size: 1.0714rem;
  font-weight: 700;
  color: #2e2e2e;
  text-decoration: none;
}

.button_row {
  padding-bottom: 80px;
}/*# sourceMappingURL=Sub01-saveyearn.css.map */