@import 'common';



body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}

header{
    .navbar{
    flex-wrap: nowrap !important;
    padding: 49px;
     position: relative;


    .ghost_btn{
        display: none;
        cursor: pointer;
        color: var(--primary-00);
        font-size: 28px;
        padding: 10px;
    }

    .navbar__menu{
        gap: 50px;

        li{
            list-style: none;
            font-size: var(--font-body-sm);
            font-weight: var(--font-weight-semibold);
        }
        a{
            color: #2e2e2e;
        }
    }

    }
}

.bg-left{
    background: url('../images/sub/sub01_img01.png');
    background-repeat: no-repeat;
}

.sub-content{
    .content-title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.kv-main-title{
    h1{
        font-size: 90px;
        font-weight: var( --font-weight-bold);
        margin-bottom: var(--spacing-xl);
        color: var(--primary-01);
        padding-top: 142px;
        padding-bottom: var(--spacing-xl);
    }
}

.kv-tab-list{
    font-size: 32px;
    font-weight: var( --font-weight-bold);
    margin-bottom: var(--spacing-xl);
    color: var(--primary-01);
    padding-top: 142px;
    padding-bottom: var(--spacing-xl);
}

.tab-content{
    h2{
        font-size: 90px;
        font-weight: var( --font-weight-bold);
        margin-bottom: var(--spacing-xl);
        color: var(--primary-01);
        padding-top: 142px;
        padding-bottom: var(--spacing-xl);
    }
    .main-text{
        font-size: var(--font-heading-xxl);
        font-weight: var( --font-weight-bold);
        color: var(--primary-01);
    }
    .sub_text{
        font-size: var(--font-heading-md);
        font-weight: var( --font-weight-bold);
        margin-top: var(--spacing-sm);
    }
    .description{
        font-size: var(--font-body-sm);
        font-weight: var( --font-weight-bold);
        margin-top: var(--spacing-md);
    }
    .sub01_main-img{
        width: 100%;
    }
    .sub01_main{
        position: absolute;
        z-index: 1;
        color: #FFF8F4;

        .main-text{
            margin-top: var(--spacing-lg);
            color: #FFF8F4;
        }
    }
    .part04{
        padding-top : var(--spacing-xl);
    }
}
