@import 'common';

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}

header{
    .navbar{
    flex-wrap: nowrap !important;
    padding: 49px;


    .navbar__ghost{
        display: none;
        background: transparent;
        border: none;
    }

    .navbar__menu{
        gap: 50px;

        li{
            list-style: none;
            font-size: var(--font-body-sm);
            font-weight: var(--font-weight-semibold);
        }
        a{
            color: #2e2e2e;
        }
    }

    }
}
.kv-main-title{
    h1{
        font-size: 90px;
        font-weight: var( --font-weight-bold);
        margin-bottom: var(--spacing-xl);
        color: var(--primary-00);
        padding-top: 142px;
        padding-bottom: var(--spacing-xl);
    }
}

.sub04_main{
    position: relative;
    .main-text{
        font-size: var(--font-heading-xxl);
        font-weight: var( --font-weight-bold);
        color: var(--black-01);
        position: absolute;
        z-index: 2;
        top:127px;
        left: 25%;
    }
    .main-img{
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.table{
    margin-top: var(--spacing-xl);
    .table_title{
        background-color: var(--primary-01);
        color: #fff;
    }
    .table_text{
        th{
            color: var(--primary-00);
            padding: var(--spacing-md);
        }
        td{
            vertical-align: middle !important;
        }
    }

}
.pagination{
    padding-bottom: var(--spacing-xl);
}
.page-link{
        color: var(--primary-01) !important;
}
