@import 'common';

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}

body {
    font-family: 'Noto Sans KR', sans-serif; 
    h1{
        font-family: 'IBM Plex Sans KR', sans-serif;
    }
}

header{
    .navbar{
    flex-wrap: nowrap !important;
    padding: 49px;


    .navbar__ghost{
        display: none;
        background: transparent;
        border: none;
    }

    .navbar__menu{
        gap: 50px;

        li{
            list-style: none;
            font-size: var(--font-body-sm);
            font-weight: var(--font-weight-semibold);
        }
        a{
            color: #2e2e2e;
        }
    }

    }
}


.kv-main-title{
    h1{
        font-size: 90px;
        font-weight: var( --font-weight-bold);
        margin-bottom: var(--spacing-xl);
        color: var(--primary-01);
        padding-top: 142px;
        padding-bottom: var(--spacing-xl);
    }
}

.sub05_main{
    position: relative;
    .main-text{
        font-size: var(--font-heading-xxl);
        font-weight: var( --font-weight-bold);
        color: var(--primary-05);
        position: absolute;
        z-index: 2;
        top:127px;
        left: 25%;
    }
    .main-img{
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.part01{
    .part01_title{
        font-size: var(--font-heading-xxl);
        font-weight: var( --font-weight-bold);
        color: var(--primary-01);
    }
    .chart01,.chart02{
        padding-top: var(--spacing-xl);
    }
}

.part02{
    .part02_title{
        font-size: var(--font-heading-xxl);
        font-weight: var( --font-weight-bold);
        color: var(--primary-01);     
    }

}
.part03sec{
            overflow: hidden;
}
.part03{

    .part03_title{
            font-size: var(--font-heading-xxl);
            font-weight: var( --font-weight-bold);
            color: var(--primary-01);     
        } 
}
