<<<<<<< HEAD


=======
@media (max-width: 1199px) {


} 
>>>>>>> parent of 8d9b2f7 (0519)
@media (max-width: 1143px) {
    :root{
        --font-heading-xxl: 35px;
        --font-heading-xl: 28px
        --font-caption:15px;  
    }
    .container{
       width: 743px;
    // button{
    //     font-size:var(--font-caption) !important;
    // }
    .navbar{
        margin-top: 42px;

        .navbar_sign_in {
            padding: 7px 20px;

        .signin_text{
            font-size: 10px;
         }
        }
        .navbar__menu{
            gap: 10px;
        .nav__link{
            font-size: 10px;
        }
    }
} 
}

// section_01
.section_01{
     .sec_01_maintitle{
        .main_img{
            width: 80%;
        }
        .cta{
            padding-top: 30px;
            gap:53px
        }
}

}

}
    



@media (max-width: 906px) {
    .container{
        max-width: 906px;
    }

    .navbar{
        .logo{
          width: 80%;
        }
         margin-top: 42px;
        .navbar_sign_in {
          padding: 7px 20px;
         }
     }
     
     .navbar__menu{
         padding-left: 0;
         gap: 30px;
     }
    
}

@media (max-width: 806px) {
    .container{
        max-width: 607px;
    }
    .navbar__menu{
        gap: 25px;
    
    }

    
}

@media (max-width: 791px) {
    // .container{
    //    max-width: 727px;
    // }

    .navbar_top{
         gap: 73px;
        .navbar__ghost{
            background: none;
            border: none;
            display: block;
            
        }
    }
    .navbar__menu{

        li{
            display: none;
        }
    }
    
    .navbar_signin{
        background-color: transparent;
        margin-left: 0 !important;

        .signin_text{
            display: none;

        }
        .signin_icon{
            display: block;
        }
    }
}

@media (max-width: 767px){
        :root{
        --font-heading-xxl: 30px;
        --font-heading-xl: 20px;
        --font-caption: 12px;
    }

// section_01
.section_01{   
     .sec_01_maintitle{
        .main_img{
            width: 50%;
        }
        .cta{
            padding-top: 30px;
            gap:53px
        }
}
}
}


@media (max-width: 457px) {
    .container{
       max-width: 393px;
    }
    
    .navbar_top{
        gap: 65px;
        .navbar__logo{
            width: 65%;
        }
    }
    .navbar_signin{
        padding: 0;
    }

}
@media (max-width: 402px) {
    .container{
        max-width: 333px;
     }
    .navbar_top{   
        justify-content: space-around;
        gap: 0;
        .logo{
            width: 75%;
          }
          .navbar__logo{
            width: 55%;
          }
    }
     .navbar_signin{
         .signin_icon{
             width: 70%;
         }
     }

}





@media (max-width: 337px) {
    .navbar_top{
        gap: 20px;
        .ghost_btn{
            width: 65%;
        }
    }



}


// @media (max-width: 360px) {
//     .container{
//        max-width: 297px;
//     }
//     .navbar_top{
//         justify-content: space-between;
//         gap: 8px;    
    

// }
// }